[Desktop Entry]
Type=Application
Name=GitKlient
GenericName=GitKlient
Comment=GitKlient is a Git GUI for KDE
Exec=gitklient
Icon=gitklient
Categories=Development;RevisionControl;Qt
Terminal=false
