IDI_ICON1 ICON DISCARDABLE resources/icons/GitKlientLogo.ico

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040304b0"
        BEGIN
            VALUE "FileDescription", "GitKlient"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "GitKlient"
            VALUE "LegalCopyright", "Copyright (C) 2022 Przemysław Adam Sowa, CescSoftware"
            VALUE "OriginalFilename", "GitKlient.exe"
            VALUE "ProductName", "GitKlient"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x403, 1200
    END
END
